@font-face {
  font-family: "iconfont"; /* Project id 2724358 */
  src: url('iconfont.woff2?t=1633862725017') format('woff2'),
       url('iconfont.woff?t=1633862725017') format('woff'),
       url('iconfont.ttf?t=1633862725017') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e641";
}

.icon-shangsheng:before {
  content: "\e64e";
}

.icon-xiajiang:before {
  content: "\e64f";
}

